page-home {
    ion-range{
        margin-top: -18px;
    }
    ion-list-header{
        span{
            margin-left: 12px;
            font-weight: bold;
        }
    }

    .color-picker{
        margin-right: 10px;
        font-size: 22px;
        color: #686767;
    }


}
